$primary: #1c3988;
$blue: #0d6efd;
$link: #0d6efd;
$secondary: #6e8ae9;
$blueDark: #091638;
$green: #27ae60;
$red: #ff442b;
$yellow: #febb02;
$orange: #fc9302;
$text: #222222;
$white: #ffffff;
$textGray: #909090;
$footerBg: #242426;
$bodyBg: #f3f3fa;
$border: #dddddd;
$placeholder: #c2c2c2;
// element size
$headerHeight: 74px;
//breakpoint
$xl: 1440px;
$lg: 1200px;
$md: 991px;
$sm: 768px;
$sp: 767px;
$xs: 575px;
$xsmin: 374px;
$sp_max: 1024px;
