@import 'icons';
@import 'font-awesome';
@import 'variables';
@import 'header';
@import 'footer';
@import 'section-search';

body {
  font-family: 'Open Sans', sans-serif;
  // padding-top: $headerHeight;
  min-height: 100vh;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  background-color: $bodyBg;
  @media screen and (max-width: $sm) {
    font-size: 15px;
  }
}

.pc {
  @media screen and (max-width: $sp) {
    display: none !important;
  }
}

.sp {
  @media screen and (min-width: $sm) {
    display: none !important;
  }
}

.layout-default {
  margin-top: 75px;
  min-height: calc(100vh - #{$headerHeight});
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

.bg-white {
  background: $white;
}

.bg-gray {
  background: #f3f3fa;
}

.bg-gradient-blue {
  background: linear-gradient(90deg, #1c3988 0%, #234ab4 100%);
}

.font-merri {
  font-family: 'Merriweather', serif;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
}

.btn-circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-circle-sm {
  width: 32px;
  height: 32px;
}

.btn-success {
  color: $white;
  &:hover {
    color: $white;
  }
}

.btn-transparent {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  &:hover {
    background-color: transparent !important;
    border: none !important;
    color: $red;
  }
}

.btn-outline-white,
.btn-outline-light {
  border: 1px solid $white;
  color: $white;
}

.btn-text {
  padding: 0;
  font-weight: normal;
  i {
    margin-right: 0.75rem;
  }
}

.avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.avatar-md {
  width: 48px;
  height: 48px;
}

.avatar-lg {
  width: 56px;
  height: 56px;
}

.section {
  padding: 55px 0;
  @media screen and (max-width: $sm) {
    padding: 45px 0;
  }
  @media screen and (max-width: $xs) {
    padding: 35px 0;
  }
}

.box-shadow {
  box-shadow: 0 1px 4px rgba(#000000, 0.15);
}

.section-heading {
  margin-bottom: 1.5rem;
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    color: $blueDark;
    line-height: 1.5;
  }
  .section-subtitle {
    font-size: 1.125rem;
    color: $blueDark;
  }
  @media screen and (max-width: $sm) {
    .section-title {
      font-size: 1.75rem;
    }
    .section-subtitle {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: $xs) {
    .section-title {
      font-size: 1.5rem;
    }
    .section-subtitle {
      font-size: 0.875rem;
    }
  }
  &.text-white {
    .section-title {
      color: $white;
    }
    .section-subtitle {
      color: $white;
    }
  }
}

.feature-topic {
  .view-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .divider {
      width: calc(100% - 140px);
      height: 2px;
      background-color: #dadaee;
      position: relative;
      span {
        position: absolute;
        width: 30%;
        max-width: 240px;
        height: 2px;
        background-color: $primary;
        left: 0;
        top: 0;
      }
    }
    .view-all {
      position: relative;
      top: -70px;
    }
    @media screen and (max-width: $sm) {
      .divider {
        order: 2;
      }
      .view-all {
        position: relative;
        top: 0;
        order: 1;
      }
    }
  }
  .feature-topic-slider {
    margin-left: var(--bs-gutter-x, -0.75rem);
    margin-right: var(--bs-gutter-x, -0.75rem);
    margin-top: 1rem;
    .slider-item {
      margin-bottom: 1rem;
      padding: var(--bs-gutter-x, 0.75rem);
    }
    .slick-arrow {
      position: absolute;
      z-index: 2;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: $primary;
      transition: all 0.2s;
      &:before {
        font-family: 'icomoon', serif !important;
        font-style: normal;
        font-weight: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 2rem;
        opacity: 1;
      }
      &.slick-disabled {
        background-color: #dadaee;
        cursor: default;
      }
      &.slick-prev {
        top: -40px;
        right: 80px;
        left: auto;
        &:before {
          content: '\e921';
        }
      }
      &.slick-next {
        top: -40px;
        right: var(--bs-gutter-x, 0.75rem);
        &:before {
          content: '\e920';
        }
      }
    }
  }
}

.card {
  box-shadow: 0 4px 15px rgba(#4764c3, 0.1);
  transition: all 0.2s;
  border-radius: 0.5rem;
  &:hover {
    box-shadow: 0 4px 20px rgba(#4764c3, 0.2);
  }
}

.card-topic {
  border: none;
  .card-thumb {
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    a {
      position: relative;
      display: flex;
      padding-top: 70%;
      text-decoration: none;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
      }
    }
  }
  .card-body {
    padding: 1rem;
    background-color: $white;
    border-radius: 0 0 0.5rem 0.5rem;
    .card-title {
      color: $blueDark;
      text-decoration: none;
      &:hover {
        color: $primary;
      }
    }
  }
}

.card-exam {
  border-radius: 0.5rem;
  overflow: hidden;
  border: none;
  margin-bottom: 1.5rem;
  @media screen and (max-width: $sp) {
    margin-bottom: 1rem;
  }
  .card-exam-thumb {
    position: relative;
    padding-top: 30%;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background: rgb(17, 17, 17);
      background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.6) 0%,
        rgba(17, 17, 17, 0.4) 100%
      );
      opacity: 0.8;
    }
    img {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .level {
    padding: 5px 10px;
    border-radius: 7px 0 8px 0;
    color: $white;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    &.base {
      background-color: $green;
    }
    &.advanced {
      background-color: #145da0;
    }
  }
  .btn-favorite {
    padding: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 10px;
    right: 10px;
    font-size: 1.375rem;
    color: $white;
    &:hover {
      color: $red;
    }
    &.favorited {
      color: $red;
    }
  }
  .card-exam-teacher {
    padding: 1rem 1rem 0 1rem;
    margin-top: -64px;
    position: relative;
    z-index: 3;
    a {
      display: flex;
      align-items: center;
      color: $white;
      font-weight: 500;
      text-decoration: none;
      .avatar {
        border: 2px solid $white;
        margin-right: 12px;
      }
      span {
        width: calc(100% - 68px);
      }
    }
  }
  .card-body {
    .exam-title {
      color: $text;
      text-decoration: none;
      h4 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-word;
      }
      &:hover {
        color: $primary;
      }
    }
    .exam-tag {
      margin-bottom: 0.5rem;
      a {
        font-size: 0.8125rem;
        margin-right: 0.5rem;
        margin-bottom: 0.25rem;
        color: $blue;
        text-decoration: none;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .exam-rating {
      display: flex;
      align-items: center;
      .mr-1 {
        margin-right: 0.25rem;
      }
    }
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: $white;
    border-top: 1px solid $border;
    .card-footer-item {
      display: flex;
      align-items: center;
      i {
        font-size: 1.5rem;
        margin-right: 0.25rem;
        @media screen and (max-width: $md) {
          font-size: 1.25rem;
        }
      }
    }
  }
}

.list-category {
  .category-item {
    margin-bottom: 2rem;
    .category-title {
      margin-bottom: 1.5rem;
      display: flex;
      h3 {
        margin-bottom: 0;
      }
    }
    ul {
      margin-bottom: 0;
      li {
        margin-bottom: 1.25rem;
      }
    }
  }
}

.section-contribute {
  background-color: #1c3988;
  background-image: url('/images/contribute-bg.png');
  background-size: 100%;
  padding: 100px 0;
  min-height: 430px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: $sm) {
    padding: 80px 0;
    min-height: 350px;
  }
  .contribute-left {
    @media screen and (max-width: $sp) {
      text-align: center;
    }
    .section-heading .section-title {
      margin-bottom: 1.5rem;
    }
  }
  .contribute-right {
    img {
      max-width: 300px;
      position: absolute;
      bottom: 0;
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
    }
    @media screen and (max-width: $sp) {
      display: none;
    }
  }
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1.5s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.section-advantage {
  padding: 80px 0;
  @media screen and (max-width: $md) {
    padding: 60px 0;
  }
  @media screen and (max-width: $sm) {
    padding: 50px 0;
  }
  .advantage-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.25rem;
    margin: 2rem 0;
    @media screen and (max-width: $md) {
      font-size: 1rem;
      margin: 0 0 1rem 0;
    }
    p {
      width: calc(100% - 40px);
      margin-bottom: 0;
    }
    i {
      margin-top: 5px;
    }
    @media screen and (max-width: $sp) {
      i {
        display: none;
      }
      p {
        width: 100%;
      }
    }
  }
  .advantage-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: $lg) {
      justify-content: space-between;
    }
    @media screen and (max-width: $md) {
      order: 1;
      padding-right: 2rem;
    }
    @media screen and (max-width: $sp) {
      padding-right: 0.75rem;
    }
  }
  .advantage-center {
    text-align: center;
    img {
      width: 100%;
      max-width: 320px;
      @media screen and (max-width: $xs) {
        max-width: 250px;
      }
    }
    @media screen and (max-width: $md) {
      order: 3;
      margin-top: 2rem;
    }
  }
  .advantage-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: $lg) {
      justify-content: space-between;
    }
    @media screen and (max-width: $md) {
      order: 2;
      padding-left: 2rem;
    }
    @media screen and (max-width: $sp) {
      padding-left: 0.75rem;
    }
  }
}

.page-heading {
  .page-heading-inner {
    background-image: url('/images/page-heading-bg.png');
    padding: 2rem 0;
    color: $white;
    font-family: 'Roboto', sans-serif;
    .page-title {
      font-size: 2rem;
      font-weight: bold;
      @media screen and (max-width: $sp) {
        font-size: 1.5rem;
      }
    }
    .page-heading-title {
      .page-title {
        display: contents;
      }
      .exam-level {
        margin-left: 0.75rem;
        margin-bottom: 0.25rem;
      }
      .user-heading {
        display: flex;
        align-items: center;
        .avatar {
          width: 100px;
          height: 100px;
        }
        .page-title {
          display: block;
          margin: 0 0 0.25rem 0;
        }
        .user-heading-name {
          width: calc(100% - 100px);
          padding-left: 1rem;
        }
        .user-heading-username {
          font-weight: bold;
        }
      }
    }
    .breadcrumb {
      margin-bottom: 0;
      @media screen and (max-width: $sp) {
        font-size: 0.875rem;
      }
      .breadcrumb-item {
        font-weight: 400;
        a {
          color: $white;
        }
        &.active {
          color: rgba($white, 0.7);
          font-weight: 300;
        }
      }
      .breadcrumb-item + .breadcrumb-item::before {
        color: $white;
      }
    }
  }
  &.exam-page-heading {
    .page-heading-inner {
      transition: all 0.2s;
    }
    .page-heading-inner {
      background-image: url('/images/header-exam-bg.png');
    }
    .button-expand-heading {
      position: absolute;
      right: 1.5rem;
      top: 1.25rem;
      padding: 0.5rem 1rem;
      z-index: 2;
      @media screen and (max-width: $sp) {
        font-size: 0;
        padding: 0.5rem;
        right: 0.5rem;
        top: 0.5rem;
        i {
          margin: 0 !important;
          font-size: 1rem;
        }
      }
    }
    &.expand {
      .page-heading-inner {
        transition: all 0.2s;
        padding: 1.25rem 0;
      }
      .breadcrumb,
      .page-heading-description,
      .exam-teacher-row,
      .toolbar-action-exam {
        display: none;
      }
    }
  }
}

.exam-page-container {
  padding: 2rem 0;
  @media screen and (max-width: $sp) {
    padding: 1rem 0;
  }
}

.card-filter-wrapper {
  .btn-filter-mb {
    position: fixed;
    z-index: 99;
    width: 100%;
    border-radius: 0;
    left: 0;
    bottom: 0;
    padding: 0.5rem 1rem;
    i {
      margin-right: 8px;
    }
  }
}
.filter-group {
  .filter-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    cursor: default;
    strong {
      font-size: 0.875rem;
    }
    i {
      transform: rotateX(180deg);
      transition: all 0.2s;
      cursor: pointer;
    }
    &.collapsed {
      i {
        transform: rotateX(0deg);
      }
    }
  }
  .custom-control {
    .custom-control-label {
      width: 100%;
      .icon-star-fill {
        font-size: 1.125rem;
        margin-right: 0.25rem;
      }
    }
  }
}
.card-filter {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(#000000, 0.15);
  padding: 1rem;
  @media screen and (max-width: $sp) {
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: -100%;
    top: 0;
    height: 100%;
    overflow: auto;
    border-radius: 0;
    transition: all 0.2s;
    &.open {
      left: 0;
      transition: all 0.2s;
    }
  }
  .card-filter-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .card-filter-body {
    .filter-input {
      position: relative;
      .form-control {
        position: relative;
        z-index: 3;
        box-shadow: none !important;
      }
    }
    .suggestions {
      position: absolute;
      z-index: 2;
      top: calc(100% - 2px);
      width: 100%;
      padding: 10px 12px;
      max-height: 100px;
      overflow: auto;
      background-color: $white;
      border-radius: 0 0 4px 4px;
      display: none;
      &.open {
        display: block;
      }
      @extend .box-shadow;
      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        background: $white;
        transition: all 0.2s;
      }
      &::-webkit-scrollbar-thumb {
        background: $border;
        border-radius: 6px;
        transition: all 0.2s;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $primary;
        transition: all 0.2s;
      }
    }
    .list-suggestions {
      display: flex;
      flex-wrap: wrap;
      .suggestion-item {
        border-radius: 20px;
        background-color: #eaeaea;
        color: #808080;
        font-size: 12px;
        padding: 2px 6px 2px 8px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        i {
          margin-left: 12px;
          font-size: 16px;
        }
      }
    }
    .line-divide {
      background-color: $border;
      border-color: $border;
      margin-top: 1rem;
      margin-bottom: 1rem;
      opacity: 1;
    }
    .filter-group {
      .filter-group-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        cursor: default;
        strong {
          font-size: 0.875rem;
        }
        i {
          transform: rotateX(180deg);
          transition: all 0.2s;
          cursor: pointer;
        }
        &.collapsed {
          i {
            transform: rotateX(0deg);
          }
        }
      }
      .custom-control {
        .custom-control-label {
          width: 100%;
        }
      }
    }
    .filter-ranking {
      .custom-control .custom-control-label i {
        margin-right: 5px;
      }
    }
  }
}

//custom tab
.custom-tabs {
  margin-bottom: 1rem;
  .nav {
    width: 100%;
    border-bottom: 1px solid $border;
    .nav-link {
      background-color: transparent;
      color: #bbbbbb;
      text-align: center;
      border: none;
      border-bottom: 4px solid transparent;
      border-radius: 0;
      padding: 0.5rem 1.5rem;
      cursor: pointer;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      @media screen and (max-width: $sp_max) {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
      }
      &.active {
        border-bottom-color: $primary;
        color: $text;
      }
    }
  }
}

.count-result {
  background-color: $white;
  font-size: 0.875rem;
  @extend .box-shadow;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .count-result-left {
    white-space: nowrap;
  }
  .count-result-right {
    display: flex;
    align-items: center;
    span {
      white-space: nowrap;
      margin-right: 5px;
      @media screen and (max-width: $sp) {
        display: none;
      }
    }
    .custom-select {
      min-height: 30px;
      padding: 3px 20px 3px 10px;
      outline: none;
      font-size: 0.875rem;
      background-image: url('/images/icons/caret-down.svg');
    }
  }
}

// breadcrumb
.breadcrumb {
  font-size: 0.875rem;
}

.border-solid {
  border-style: solid;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-3 {
  border-width: 3px;
}

.border-white {
  border-color: $white;
}

.custom-rating {
  padding: 0;
  background: transparent;
  border: none;
  min-height: 18px;
  color: $yellow;
  width: auto;
  outline: none;
  .b-rating-star {
    padding: 0 3px;
  }
}

// exam-page-heading
.toolbar-action-exam {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .action-exam {
    .btn {
      font-size: 0.875rem;
    }
    .btn-action {
      margin-right: 0.75rem;
      margin-bottom: 0.5rem;
    }
    .dropdown-save {
      .dropdown-toggle {
        margin-right: 0.75rem;
        margin-bottom: 0.5rem;
      }
      .dropdown-menu {
        padding: 0;
        .b-dropdown-form {
          padding: 0;
          .custom-control {
            border-bottom: 1px solid $border;
            padding: 10px 10px 10px 40px;
            margin: 0;
          }
          .add-bookmark-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            .form-control {
              min-height: 24px;
              height: 24px;
              padding: 0.25rem;
              font-size: 0.75rem;
            }
            .btn {
              width: 20px;
              height: 20px;
              padding: 0;
              margin-left: 0.75rem;
              background-color: $blue;
              border: none;
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
  .exam-report {
    margin-bottom: 0.5rem;
    white-space: nowrap;
  }
  @media screen and (max-width: $sp) {
    flex-direction: column;
    .btn-action {
      width: 140px;
    }
    .dropdown-save {
      .dropdown-toggle {
        width: 140px;
      }
    }
    .exam-report {
      margin-top: 0.5rem;
      margin-left: auto;
    }
  }
  @media screen and (max-width: $xsmin) {
    flex-direction: column;
    .btn-action {
      width: 130px;
      padding: 0.5rem;
    }
    .dropdown-save {
      .dropdown-toggle {
        width: 130px;
        padding: 0.5rem;
      }
    }
  }
}

.group-input-xs {
  display: flex;
  input,
  .form-control {
    height: 20px;
    min-height: 20px;
    padding: 0 5px;
    font-size: 0.75rem;
    width: 44px;
    border-radius: 3px;
  }
  strong,
  b {
    margin-left: 5px;
  }
}

.do-exam-sidebar {
  .card-do-exam {
    .button-do-exam {
      width: 100%;
    }
    .button-do-exam-sp {
      display: none;
      @media screen and (max-width: $sp) {
        display: inline-flex;
        position: fixed;
        z-index: 9;
        width: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
        margin: 0 !important;
      }
    }
  }
  .card-filter {
    @media screen and (max-width: $sp) {
      position: static;
      z-index: 1;
    }
  }
}

.list-ranking-user {
  .ranking-item {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    .avatar {
      border: 2px solid $border;
    }
    &:nth-child(1) {
      .avatar {
        border-color: #ffd503;
      }
    }
    &:nth-child(2) {
      .avatar {
        border-color: #9c9c9c;
      }
    }
    &:nth-child(3) {
      .avatar {
        border-color: #a1723b;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.common-tabs {
  .nav {
    width: 100%;
    border-bottom: 1px solid $border;
    .nav-link {
      background-color: transparent;
      color: #bbbbbb;
      text-align: center;
      border: none;
      border-bottom: 4px solid transparent;
      border-radius: 0;
      padding: 0.5rem 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      @media screen and (max-width: $sp) {
        font-size: 0.875rem;
      }
      &.active {
        border-bottom-color: $primary;
        color: $text;
        font-weight: bold;
      }
    }
  }
  .tab-content-container {
    padding: 1rem 0;
  }
}

.card {
  border: none;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(#000000, 0.15);
  .card-header {
    background-color: transparent;
    border: none;
    font-weight: bold;
    border-bottom: 1px solid $border;
    padding: 1rem;
  }
}

.table {
  > :not(:last-child) > :last-child > * {
    border-bottom-color: $border;
  }
  td,
  th {
    border-color: $border;
    padding: 1rem;
  }
  tr {
    &:last-child {
      td,
      th {
        border: none;
      }
    }
  }
}

.exam-main-container {
  padding: 40px 0 80px 0;
  .do-exam-sidebar {
    position: relative;
    top: -340px;
  }
  @media screen and (max-width: $md) {
    padding: 30px 0 80px 0;
    .do-exam-sidebar {
      position: relative;
      top: 0;
      order: 1;
    }
    .exam-main-content {
      order: 2;
    }
  }
}

.card-teacher {
  .teacher-info {
    .teacher-info-avatar {
      margin: 0 auto 1rem auto;
      width: 100%;
      max-width: 125px;
      padding-top: min(max(100%, 100%), 125px);
      position: relative;
      .avatar {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid $primary;
      }
    }
  }
  .teacher-list-info {
    li {
      margin-bottom: 0.5rem;
      i {
        width: 1.25rem;
      }
    }
  }
}

.card-review {
  .card-review-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    .number {
      font-size: min(max(40px, 4vw), 80px);
      font-weight: bold;
    }
  }
  .card-review-right {
    .rate-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.25rem 0;
      .rate-progress {
        width: calc(100% - 170px);
      }
      .rate-star {
        margin-left: 1rem;
      }
      .rate-num {
        font-size: 0.875rem;
        margin-left: 1rem;
      }
    }
  }
}

.list-review {
  margin-bottom: 2rem;
  .review-item {
    display: flex;
    border-bottom: 1px solid $border;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .review-item-avatar {
      margin-right: 1rem;
    }
    .review-item-content {
      width: calc(100% - 4rem);
      .review-item-action {
        .btn {
          padding: 0;
          font-size: 0.8125rem;
          margin-right: 1.5rem;
          i {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.list-question {
  .question-item {
    border-bottom: 1px solid $border;
    margin-bottom: 1rem;
    .question-hashtag {
      display: flex;
      margin-bottom: 1rem;
      p {
        margin: 0 0.5rem 0 0;
      }
    }
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
    .question-title {
      margin-bottom: 1rem;
    }
    .question-content {
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }
    .question-item-answer {
      .answer-head {
        border-bottom: 1px solid $border;
        position: relative;
        margin: 1rem 0;
        span {
          position: absolute;
          bottom: -8px;
          left: 8px;
          background: #ffffff;
          padding: 0 4px;
        }
      }
      ul {
        li {
          margin-bottom: 0.5rem;
          p {
            margin-bottom: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .list-answer {
        font-size: 0.875rem;
        li {
          margin-bottom: 0.5rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .list-answered {
        font-size: 0.875rem;
        li {
          margin-bottom: 0.5rem;
          display: flex;
          .check {
            min-width: 20px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $border;
            margin-right: 10px;
            position: relative;
            margin-top: 2px;
            &:before {
              width: 18px;
              height: 18px;
              border-radius: 50%;
              content: '';
              border: 3px solid $white;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
          &.true {
            color: $green;
            .check {
              &:before {
                background-color: $green;
              }
            }
          }
          &.false {
            color: $red;
            .check {
              &:before {
                background-color: $red;
              }
            }
          }
        }
      }
    }
  }
}

// modal

.layout-default .modal {
  box-shadow: 0 1px 8px rgba(#000000, 0.15);
  border-radius: 20px;
  border: none;
  .modal-content {
    border: none;
    border-radius: 20px;
    .modal-header {
      border-bottom: none;
      padding: 10px 12px;
      .modal-title {
        font-weight: bold;
        font-size: 1.25rem;
      }
      .close {
        border: none;
        outline: none;
        border-radius: 50%;
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
        align-items: center;
        background-color: $red;
        color: $white;
        font-size: 1.5rem;
      }
    }
    .modal-body {
      padding-top: 0;
    }
    .modal-footer-common {
      display: flex;
      justify-content: center;
      .btn {
        height: 2.75rem;
        margin: 0.25rem;
        width: 100%;
      }
    }
  }
}

.do-exam-box {
  padding: 1rem;
  hr {
    margin: 0.5rem 0;
  }
  .do-exam-timer {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 2.5rem;
      margin-right: 1rem;
    }
  }
  .list-type-question {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0 0.5rem 0.75rem 0;
        font-size: 0.75rem;
        .type {
          width: 20px;
          height: 20px;
          margin-right: 0.5rem;
          border: 1px solid $border;
        }
        .tick {
          background-color: $blue;
          border-color: $blue;
        }
        .answered {
          background-color: $primary;
          border-color: $primary;
        }
        .not-answered {
          background-color: $border;
        }
        .true {
          border-color: $green;
          background-color: $green;
        }
        .false {
          border-color: $red;
          background-color: $red;
        }
      }
    }
  }

  .list-question-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.3rem;
    .btn {
      margin: 0.3rem;
      width: 38px;
      height: 38px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;
      font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
      border: 1px solid $border;
      background-color: $white;
      color: $text;
      &.tick {
        background-color: $blue;
        border-color: $blue;
        color: $white;
      }
      &.answered {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
      &.not-answered {
        background-color: $border;
        border-color: $border;
        color: $text;
      }
      &:hover {
        background-color: $blue;
        border-color: $blue;
        color: $white;
      }
      &.true {
        border-color: $green;
        background-color: $green;
        color: $white;
      }
      &.false {
        border-color: $red;
        background-color: $red;
        color: $white;
      }
    }
  }
  .filter-group {
    .filter-group-header {
      margin-bottom: 0.5rem;
    }
  }
}

.card-question {
  .card-question-header {
    .custom-control {
      margin-bottom: 0;
      label {
        font-weight: normal;
      }
    }
  }
  .card-footer {
    border-color: $border;
    background-color: transparent;
    padding: 1rem;
    display: flex;
    justify-content: center;
    .btn {
      margin: 0 0.5rem;
      i {
        font-size: 0.75rem;
      }
      &:hover {
        color: $white;
        background-color: $primary;
        border-color: $primary;
      }
    }
  }
}

.exam-main-content {
  .card-question {
    min-height: 100%;
  }
}

.exam-information-detail {
  .exam-userinfo {
    .exam-userinfo-inner {
      padding-right: 1rem;
      @media screen and (max-width: $md) {
        padding-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
  .exam-analytic-inner {
    padding-left: 1rem;
    @media screen and (max-width: $md) {
      padding-left: 0;
    }
  }
  .form-review-exam {
    .button-submit-rating {
      min-width: 110px;
      margin-left: auto;
    }
  }
}

.list-exam-analytic {
  .exam-analytic-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    .item-title {
      width: 20%;
    }
    .item-progress {
      width: calc(80% - 40px);
      padding-left: 1rem;
    }
    .item-number {
      width: 40px;
      text-align: right;
    }
  }
}

.vue-slider-process {
  background-color: $primary;
}

.vue-slider-dot-handle {
  border-color: $primary;
  &:hover {
    border-color: $secondary;
  }
}

.vue-slider:hover .vue-slider-process {
  background-color: $secondary;
}

.vue-slider:hover .vue-slider-dot-handle {
  border-color: $secondary;
}
