$primary: #1C3988;
$secondary: #6E8AE9;
$blueDark: #091638;
$green: #27AE60;
$red: #FF645A;
$yellow: #FEBB02;
$orange: #FC9302;
$text: #222222;
$white: #ffffff;
$textGray: #909090;
$footerBg: #242426;
$border: #dddddd;

// element size

$headerHeight: 74px;

//breakpoint
$xl: 1440px;
$lg: 1200px;
$md: 991px;
$sm: 768px;
$xs: 575px;
$sp_max: 1024px;
