.footer {
  background-color: $footerBg;
  color: $white;
  font-size: 0.875rem;
  .footer-top {
    padding: 60px 0;
    @media screen and (max-width: $sm - 1){
      padding: 40px 0;
    }
  }
  .site-description {
    padding-right: 1rem;
  }
  .footer-widget {
    .social-list {
      li {
        margin-right: 10px;
        a {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          font-size: 1.125rem;
          background-color: #595858;
          text-decoration: none;
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
    .list-infor {
      li {
        padding-left: 35px;
        position: relative;
        i {
          position: absolute;
          left: 0;
          top: 4px;
          color: $orange;
          font-size: 1.25rem;
        }
      }
    }
    .footer-widget-title {
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }
    .footer-widget-content {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-bottom: 0.75rem;
          a {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer-copyright {
    border-top: 1px solid #C4C4C4;
    color: #909090;
    padding: 1.5rem 0;
    text-align: center;
    p {
      margin-bottom: 0;
    }
  }
}
