@import '@/assets/css/variables';
.header {
  padding: 15px 0;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(#000000, 0.1);
  width: 100%;
  min-height: $headerHeight;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-header {
      margin-right: 20px;
    }
    .main-menu {
      margin: 0 15px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
          margin-right: 2.25rem;
          a {
            color: $text;
            text-decoration: none;
            font-weight: 600;
            &:hover {
              color: $primary;
            }
            &.nuxt-link-exact-active.nuxt-link-active {
              color: $primary;
              font-weight: bold;
            }
          }
        }
      }
    }
    .menu-action {
      .btn {
        &:last-child {
          margin-left: 0.75rem;
        }
      }
    }
  }
}
